<h2>edit picture</h2>

<div class="frame">
  <div class="pin">画像編集</div>
  <div class="panel">
    <%= form_for(@image, url: admin_image_path, :method => :put) do |f| %>

      <img src="<%= @image.image_url %>" class="image" alt="<%= @image.name_en %>" >
      <p>
        <%= f.label "作品名" %>
        <br>
        <%= f.text_field :name_jp %>
      </p>
      <p>
        <%= f.label "英語名" %>
        <br>
        <%= f.text_field :name_en %>
      </p>
      <p>
        <%= f.label "カテゴリー" %>
        <br>
        <%= f.select :category, @image_categories %>
      </p>

      <%= f.submit "完了" %>
    <% end %>
  </div>
    <div class="frame">
      <div class="pin">削除</div>
      <p class="panel">
        <%= link_to "この画像を削除", admin_image_path(@image), method: :delete %>
      </p>
    </div>
    <div class="frame">
      <p class="panel">
        <%= link_to "画像一覧へ", admin_images_path %>
      </p>
    </div>
</div>
