<div class="images">
  <h2>画像管理</h2>
  <p> 新規画像: <%= link_to "こちら", new_admin_image_path %> </p>
  <% @images.each do |image| %>
    <div class="frame">
      <div class="pin"> <%= link_to image.name_jp, edit_admin_image_path(image) %></div>
      <p class="panel">
      <img src="<%= image.image_file %>" class="image" 
        alt="<%= image.name_en %>" >
      </p>
    </div>
  <% end %>
</div>
<div>

</div>
  新規管理者登録: <%= link_to "こちら", admin_singup_path %>
  <%= link_to "ログアウト", admin_logout_path, method: :delete %>
</div>
