<!DOCTYPE html>
<html>
  <head>
    <title>AYANO SITE</title>
    <%= favicon_link_tag('favicon.ico') %>
    <meta charset="UTF-8">
    <meta name="keywords" content="あやのサイト,ayano site, アヤノサイト">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 id="ayano-site" ><a href="/">AYANO SITE</a></h1>
    <div id="wrap" class="cf">
      <ul>
        <li><%= link_to "絵", images_pictures_path, class: "nav-button" %></li>
        <li><%= link_to "刺繍", images_embroideries_path, class: "nav-button" %></li>
        <li><%= link_to "イラスト", images_illustrations_path, class: "nav-button" %></li>
        <li><%= link_to "自己紹介", myself_path, class: "nav-button" %></li>
      </ul>
    </div>
    <%= yield %>
  </body>
</html>
